<h1>Libraries</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'libraries.index' class="nav-item" tagName="li"}}<a class="nav-link" href="">List all</a>{{/link-to}}
    {{#link-to 'libraries.new' class="nav-item" tagName="li"}}<a class="nav-link" href="">Add new</a>{{/link-to}}
  </ul>
</div>

{{outlet}}