<h1>Libraries</h1>

<div class="well">
  <ul class="nav nav-pills">
    <LinkTo @route='libraries.index' class="nav-item" tagName="li"><a class="nav-link" href="">List all</a></LinkTo>
    <LinkTo @route='libraries.new' class="nav-item" tagName="li"><a class="nav-link" href="">Add new</a></LinkTo>
  </ul>
</div>

{{outlet}}