<hr class="my-3">

<div class="row row-cols-3">
  {{#each this.model as |library|}}
    <div class="col mb-2">
      <LibraryItem @item={{library}} @badge={{library.books.length}}>
        <LinkTo @route="libraries.edit" @model={{library.id}} class="btn btn-success btn-xs">Edit</LinkTo>
        <button type="button" class="btn btn-danger btn-xs" {{action 'deleteLibrary' library}}>Delete
        </button>
      </LibraryItem>
    </div>
    {{/each}}
</div>