
@import "ember-bootstrap/bootstrap";

body {
    padding-top: 20px;
}

html {
    overflow-y: scroll;
}
  
.library-item {
    min-height: 150px;
}

.label-fade {
    margin: 10px;
    opacity: 0;
    @include transition(all 0.5s);
    &.label-show {
      opacity: 1;
    }
  }
  
  .extra-padding-bottom {
    padding-bottom: 20px;
  }
  
  // Spinner in a button
  .glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
  }
  
  @keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
  }
  
  @-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
  }

.vtop {
    vertical-align: top!important;
  }
  
  .not-bold {
    font-weight: normal!important;
  }
